.header {
    width: 1920px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    background: transparent url(image/index/photo-1588159343745-445ae0b16383.png);
    background-repeat: no-repeat;
    margin-top: 56px;
    background-position: center;
    height: 870px;
    top: 56px;
    opacity: 1;
}

.banner-context {
    text-align: left;
    font: normal normal normal 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.row1 {
    flex-direction: row-reverse;
}

.row3 {
    flex-direction: row-reverse;
}

.product1 {
    background: url(/image/product/photo-1563170351-be82bc888aa4.png);
}

.product-text {
    text-align: left;
    font: normal normal 300 20px/30px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    align-items: center;
    justify-content: flex-start;
}

.card-body {
    padding-left: 0;
}

.footer-subscribe {
    background: url(image/product/photo-1532413992378-f169ac26fff0.png);
    height: 600px;
    max-width: 1920px;
}

.bg-primary {
    background-color: #916000 !important;
}